{% extends 'header.html' %}
{% block title %}econometrica | CambridgeStatistica{% endblock %}
{% block content %}
<style>
body{padding-top:80px;}
select{
	padding-left:5px;
	padding-right:5px;
    text-align-last:center;
}</style>

<div class="vert-align-full text-center" style="padding-top: 50px">
	<div id = "container"><br>
		<h2>Data Analyst</h2><br>
			<div style="padding-top:30px;">
				<form action="" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
					{% csrf_token %}
					<div class="form-group">
						<label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
						<div class="col-md-8">
							<input type="file" name="file" id="file" required="True" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="form-control">
						</div>
						<br><br><br>
						{% for field in form %}
						<div class="fieldWrapper">
							{{ field.errors }}
							{{ field.label_tag }} <br>{{ field }}
						</div>
						{% endfor %}
					</div>
					<div class="form-group">                
						<div style="margin: auto; text-align:center;">
							 <button class="btn btn-primary" style="text-align:center;"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
						</div> 
					</div>
					</form>
				<br>
				<h4 style="margin:0;"> Instructions:</h4><br>
				<b><a href="https://i.imgur.com/9OhNIis.png">Accepts Excel or CSV files (see examples)</a></b><br>
				<i>Outputs multi-sheet(!) .xlsx file</i>
				<b><p style="padding-top:10px;">First column should be DATE</b>
				<br><i>If no dates available, use 1,2,3...</i></p>
				<p><b>Rest of first row should be stock/index names/tickers etc.</b>
				<br><i>No duplicate labels</i></p>
				<p><b>Data should be "returns" </b><br>
				<i>Can be 0-1 or 0-100, no % symbols</i></p>
				<i>Periodicity can be any annually, monthly, daily etc...</i>
			</div>
	</div>
</div>

{% endblock %}
