{% extends 'header.html' %}
{% block title %}econometrica | CodeVetica{% endblock %}
{% block content %}

<div class="vert-align-full text-center" style="padding-top: 50px">
	<div id = "container"><br>
		<h2>portfolio optimization</h2><br>
			<div style="padding-top:30px;">
				<form action="" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
					{% csrf_token %}
					<div class="form-group">
						<label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
						<div class="col-md-8">
							<input type="file" name="file" id="file" required="True" class="form-control">
						</div>                    
					</div>
					<div class="form-group">                    
						<div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
							 <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
						</div> 
					</div>
					</form>
				<br>
				<b>Accepts CSV files only</b><br>
				<b>Outputs xlsx file with 2 sheets</b>
				<p style="padding-top:10px;">Cell A1 of input file must be "date" (case-sensitive) <br>(you can make up the dates or even use do 1,2,3...)</p>
				<p>Rest of first row should be stock/index names/tickers/whatever</p>
				<p>Data should be in "returns" <b>(not prices)</b> format with any periodicity<br>(monthly... daily... doesn't matter) </p>
			</div>
	</div>
</div>

{% endblock %}
