{% extends 'header.html' %}
{% block title %}stonks | CodeVetica{% endblock %}
{% block content %}

<div class="vert-align-full text-center" style="padding-top: 50px">
	<div id = "container"><br>
		<h2>cambr1dge stock data</h2>
			<div style="padding-top:30px;">
				<form action='/stockprices/' method='post'>{% csrf_token %}
				{% for field in form %}
					<div class="fieldWrapper">
						{{ field.errors }}
						{{ field.label_tag }} <br>{{ field }}
					</div>
				{% endfor %}
				<input type='submit' value='Get Data' />
				</form>
				<br>
				<b>Weather in Cambridge:</a></b>
				<p style="padding-top:10px;">Conditions: cold</p>
				<p>Temperature: very very cold degrees celcius</p>
				<p>Min Temp: like -10 degrees celcius</p>
				<p>Max Temp: still -10 degrees celcius</p>
			</div>
	</div>
</div>

{% endblock %}
